<div class="lead-text">
	<div class="row">
		<div class="col-6 col-left">
			{{ column1 | markdownify }}
		</div>
		<div class="col-6 col-right">
			{{ column2 | markdownify }}
		</div>
	</div>

  {% if hidden-section-content %}
  <div class="hidden-section">
  	<div class="hidden-section-content">
  		<div class="hidden-section-content-wrapper">
  			{{ hidden-section-content | markdownify }}
  		</div>
  	</div>
  	<a class="hidden-section-toggle" href="#"><span>{{ include.hidden_content_title }}</span></a>
  </div>	
	{% endif %}
	
</div>	