---
---
@charset "utf-8";

// Define defaults for each variable.

$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$base-font-size:   17px !default;
$base-font-weight: 300 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.65 !default;

$spacing-unit:     30px !default;

$text-color:       #333 !default;
$background-color: #ffffff !default;
$brand-color:      #55BCEB !default;  // link color !
$brand-color-2:    #913487 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

// Width of the content area
$content-width:    900px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: ceil($base-font-size * $ratio);
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;

.site-header {
	border-top: none;
	border-bottom: none;
	
	.wrapper {
		position: relative;
	}

	.sharp-logo {
		width: 100%;
		text-align: center;
		padding: 10px;
	}
	
	.slam-logo {
		position: absolute;
		padding: 10px;
		top: 0;
		right: 0;
	}
	
}

.site-footer {
	border-top: none;
}


.svgholder {
	min-height: 100px;
}


.home-wrapper {
	text-align: center;
}


.modal-background {
	position: fixed;
	top:0;
	left:0;
	height: 100%;
	width: 100%;
	background: rgba(255, 255, 255, 0.9);
	z-index: 1;	
	overflow: auto;
	display: none;
}


.modal {
	position: relative;
	margin: 40px auto;
	width: 760px;
	min-height: 80%;
	background: $grey-color-light;
	margin-top: 50px;
	padding: 20px;
	display: none;
	
	
	@include media-query($on-laptop) {
		width: $on-palm - 40px;
		margin-top: 20px;
	}	
	@include media-query($on-palm) {
		box-sizing: border-box;
		margin: 0;
		border: 10px solid white;
		width: 100%;
	}	


	.close-modal {
		position: absolute;
		top: 20px;
		right: 20px;
	}
	
	
	/* video embed */
	iframe {
		position: relative;
		width: 100%;
		height: 427px;

		@include media-query($on-laptop) {
			height: 315px;
		}	
		@include media-query($on-palm) {
			height: 21	0px;
		}
	}
}