---
---
@charset "utf-8";

// import google font

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,600,600i');


// Define defaults for each variable.

$base-font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$base-font-size:   17px !default;
$base-font-weight: 300 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #333 !default;
$background-color: #ffffff !default;
$brand-color:      #55BCEB !default;  // link color !
$brand-color-2:    #913487 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

// Width of the content area
$content-width:    960px !default;

$on-mobile:        450px !default;
$on-palm:          600px !default;
$on-laptop:        768px !default;

$gutter-width:		 20px;

$horizontal-line:	 1px dotted black;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: ceil($base-font-size * $ratio);
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;


// TYPOGRAPHY


h1 {
	@include relative-font-size(1.7);
	font-weight: 600;
	line-height: 1.2em;
	text-align: center;
}

h2 {
	font-size: $base-font-size;
	font-weight: 600;
	line-height: $base-line-height;
}

hr {
	border: none;
	border-top: $horizontal-line;
	margin-bottom: 30px;
}

.lead-text {
	border-top: 	 $horizontal-line;
	border-bottom: $horizontal-line;
	padding-top: 15px;
	margin-bottom: 20px;
	margin-top: 20px;
}

blockquote {
	border: none;
	background: white;
	padding: 15px;
	border-radius: 20px;
	position: relative;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .05);
	
	
	&::after {
		content: "";
		position: absolute;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 20px 20px 0;
		border-color: transparent white transparent transparent;
		bottom: -20px;
		right: 30px;
	  box-shadow: 6px 0 3px -3px rgba(0, 0, 0, .05);
	}
}

.col-left blockquote::after {
	border-width: 0 0 20px 20px;
	border-color: transparent transparent white transparent;
	bottom: 20px;
	left: -20px;
	z-index: -1;
  box-shadow: 0 6px 3px -3px rgba(0, 0, 0, .05);
}

.col-right blockquote::after {
	border-width: 20px 0 0 20px;
	border-color: transparent transparent transparent white;
	bottom: 20px;
	right: -20px;
  box-shadow: 0 6px 3px -3px rgba(0, 0, 0, .05);
}

blockquote {
	p {
		margin-bottom: 5px;
	}

	ul {
		@include relative-font-size(.75);
		list-style: none;
		margin-left: 0;
		font-style: normal;
		
		li::before {
			content: "—  ";
		}
	}
}

// GRID AND COLUMNS 


.wrapper {
	padding-left: 15px;
	padding-right: 15px;
}


.col-6 {
	width: 50%;
	box-sizing: border-box;
	float: left;
	padding: $gutter-width / 2;
	
	@include media-query($on-palm) {
		width: 100%;
	}
}

.row {
	margin: 0 $gutter-width * -0.5;
	
	&::after {
		display: block;
		content: "";
		clear: both;	
	}
}


.col-6 p {
	@include relative-font-size(.85);
}


// MAIN ELEMENTS

.site-header {
	border-top: none;
	border-bottom: none;
	text-align: center;
	height: 200px;
	background: url('images/header-triangle.png') center bottom/100% 225px no-repeat;
	
	.wrapper {
		position: relative;
	}

	.sharp-logo {
		box-sizing: border-box;
		width: 100%;
		padding: 10px;
	}
	
	.slam-logo {
		position: absolute;
		padding: 15px;
		top: 0;
		right: 0;
	}
	
}

.site-footer {
	border-top: none;
}



// DIFFERENT STYLES HOME vs SUBPAGE


body.home {
	background: white;
}

body.subpage {
	background: #ebf5fc;
	
	.site-header-title {
		font-size: $base-font-size;
	}
}

body.subpage-green {
	background: #91d631;	
	color: white;
}




// HOME PAGE stuff

.home-wrapper {
	text-align: center;
}

.page-content {
	padding: 0;
}


section.outcomes, .home .site-footer {
	background: #90d03b;
}

section.outcomes {
	background: #90d03b url('images/white-triangle.png') center top/100% 100px no-repeat;
	padding-top: 110px;
	margin-top: -20px;
	
}

.home-item {
	display: inline-block;
	position: relative;
	vertical-align: top;
	width: 180px;
	height: 180px;
	background: #f2f9fe;
	border-radius: 90px;
	line-height: 1.3em;
	margin: 0 10px 15px;
	
	.home-item-icon img{
		padding-top: 20px;
		width: 70px;
		height: 70px;
	}
	
	.home-item-title {
		padding: 0 20px;
	}

	&::after {
		content:' ';
		position: absolute;
		bottom: 20px;
		left: 50%;
		margin-left: -10px;
		height: 20px;
		width: 20px;
		background: url('images/more-blue.png') center/20px 20px;
		border-radius: 10px;
	}

	&.outcomes-item {
		background: #85c743;
		color: white;
		width: 200px;
		height: 200px;
		border-radius: 100px;
	}

	&.outcomes-item::after {
		background: url('images/more-green.png') center/20px 20px;
	}

}


// SUBPAGE STUFF 

.page-icon {
	text-align: center;
	height: 100px;
	width: 100px;
	margin: auto;
}



// OTHER 

table {
	background: #90d03b;
	color: white;
	text-align: left;
	border-spacing: 0;
	padding: 10px;
	margin-top: 30px;
	margin-bottom: 30px;
	
	td, th {
		vertical-align: top;
		padding: 0 0 10px 0;
		margin: 0;
		border-left: none;
		border-right: none;
	}
	
	td {
		border-top: 3px solid white;
		padding-top: 8px;
	}

	th:first-of-type {
		width: 33%;
	}
	
	td:first-of-type {
		font-size: 2em;
		font-weight: 600;
		padding-top: 0;
		padding-right: 10px;

		@include media-query($on-mobile) {
			font-size: 1.5em;
		}
	}
	
}


// IFRAME tricks

/* video embed */
iframe {
	position: relative;
	width: 100%;
	height: 427px;

	@include media-query($on-palm) {
		height: 315px;
	}	
	@include media-query($on-mobile) {
		height: 21	0px;
	}
}
