---
---
@charset "utf-8";

// import google font

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,500,500i');



// Define defaults for each variable.

$base-font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$base-font-size:   19px !default;
$base-font-weight: 300 !default;
$smaller-font-size:  ceil($base-font-size * 0.84); // e.g. column content
$smallest-font-size: ceil($base-font-size * 0.75); // e.g. footer
$small-font-size:  $smaller-font-size;
$base-line-height: 1.7em !default;
$smaller-line-height: $base-line-height * 0.8 !default;

$spacing-unit:     30px !default;

$text-color:       #333 !default;
$background-color: #ffffff !default;
$brand-color-blue: 				#40a7e7 !default;  // blue
$brand-color-green:    		#90d03b !default;  // green
$brand-color-dark-grey: 	#333333 !default;  // dark grey
$brand-color-light-blue:	#ebf5fc !default;  // light blue
$brand-color-dark-blue:		#155b8b !default;  // dark blue
$brand-color:			 $brand-color-blue;	// link color !

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

// Width of the content area
$content-width:    1040px !default;

$on-mobile:        450px !default;
$on-palm:          700px !default;
$on-laptop:        845px !default;
$on-desktop:			 $on-laptop;

$gutter-width:		 30px;

$horizontal-line:	 1px dotted black;


// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: ceil($base-font-size * $ratio);
}


// Import partials.
@import "base";


// RESET

img {
  border: none; // to remove image link borders in IE9
}



// TYPOGRAPHY


h1, h2, h3 {
	font-weight: 500;
}

h1 {
	@include relative-font-size(1.6);
	line-height: $smaller-line-height;
	text-align: center;
}

h2 {
	@include relative-font-size(1.2);
	line-height: $smaller-line-height;
}

h3 {
	font-size: $base-font-size;
	line-height: $base-line-height * 0.95;
}

h4 {
	font-size: $small-font-size;
	line-height: $base-line-height;
}

hr {
	border: none;
	border-top: $horizontal-line;
	border-image: url('images/dotted-line.png') 1 0 0 0 repeat;
	margin: $spacing-unit 0;
}

.lead-text {
	font-size: ceil($base-font-size * 1.05);
	border-top: 	 $horizontal-line;
	border-bottom: $horizontal-line;
	border-image: url('images/dotted-line.png') 1 0 1 0 repeat;
	padding-top: $spacing-unit / 2;;
	margin-bottom: ceil($spacing-unit * 1.35);
	margin-top: $spacing-unit;
	
	p {
		margin-bottom: $spacing-unit / 2;
	}
}

.tiny-text {
	h3 {
		font-size: $small-font-size !important;
	}
	p, ul, h4 {
		font-size: ceil( $small-font-size * 0.8) !important;
		line-height: $base-line-height;
	}
}

blockquote {
	border: none;
	background: white;
	padding: 15px;
	border-radius: 20px;
	position: relative;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .05);
	
	&::after {
		content: "";
		position: absolute;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 20px 20px 0;
		border-color: transparent white transparent transparent;
		bottom: -20px;
		right: 30px;
	  box-shadow: 6px 0 3px -3px rgba(0, 0, 0, .05);
	}
	
	p {
		margin-bottom: ceil($spacing-unit / 6);
	  font-style: italic;
		font-weight: 500;	
	}

	ul {
		font-size: $smallest-font-size;
		list-style: none;
		margin: 0;
		font-style: normal;
		
		li::before {
			content: "—  ";
		}
	}	

	&.animate-when-visible {
	  transition: 0s !important;		
    transform: scale3d(0.95, 0.95, 1) translate3d(0, 30px, 0);
    opacity: 0;
	}

	&.animating-now {
	  transition: .6s ease-out !important;		
		transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
		opacity: 1;
	}
}

.col-left blockquote::after {
	border-width: 0 0 20px 15px;
	border-color: transparent transparent white transparent;
	bottom: 20px;
	left: -15px;
  box-shadow: 0 6px 3px -3px rgba(0, 0, 0, .05);
}

.col-right blockquote::after {
	border-width: 20px 0 0 15px;
	border-color: transparent transparent transparent white;
	bottom: 20px;
	right: -15px;
  box-shadow: 0 6px 3px -3px rgba(0, 0, 0, .05);
}

.source, .col-6 .source {
	font-size: $smallest-font-size;
	line-height: $base-line-height;
}

// GRID AND COLUMNS 


.wrapper {
	padding: 0 20px;

	@include media-query($on-mobile) {
		padding: 0 15px;
	}
	
	&.subpage-main {
		padding-top: ceil($spacing-unit * 1.33);	
	}
	
}


.col-6 {
	width: 50%;
}

.col-4 {
	width: 33.333%;
}

.col-6, .col-4 {
	box-sizing: border-box;
	float: left;
	padding: 0 ($gutter-width / 2);
	
	@include media-query($on-palm) {
		width: 100%;
	}
}



.row {
	margin: 0 $gutter-width * -0.5;
	
	&::after {
		display: block;
		content: "";
		clear: both;	
	}
}


.col-6 p, .col-6 ul, .col-4 p, .col-4 ul {
	font-size: $smaller-font-size;
	line-height: $base-line-height;
}



// BUTTONS


.btn {
	display: inline-block;
	background: $brand-color-blue;
	color: white;
	font-size: ceil($base-font-size * 1.05);
	padding: 15px 40px;
	margin: 10px;
	text-decoration: none !important;
	font-weight: 500;
	border-radius: 30px;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, .05);
}

.btn-data-toggler {
	font-size: $smaller-font-size;
	padding: 5px 20px;
	margin: 0 5px 5px;
	box-shadow: none;
	background: none;
	border: 1px solid $brand-color-blue;
	color: $brand-color-blue;
	
	&.selected {
		background: $brand-color-blue;
		color: white;
	}
}

.button-group {
	text-align: center;
	padding-bottom: $spacing-unit;
}

// fun hover stuff
.hover-animation .btn {
	transition: .2s ease-out;
	
	&:hover {
		color: white;
		transform: scale3d(1.1, 1.1, 1) ; 
		background: darken($brand-color-blue, 10%);
	}
}

.btn-previous {
	display: none;
}


// MAIN ELEMENTS

.site-header {
	border-top: none;
	border-bottom: none;
	text-align: center;
	height: 175px;
	
	.wrapper {
		position: relative;
	}

	.sharp-logo {
		box-sizing: border-box;
		width: 100%;
		padding: 10px;
	}
	
	.slam-logo {
		position: absolute;
		padding: 15px;
		top: 0;
		right: 0;
	}
	
	h1 {
		color: $brand-color-dark-grey;
	}
	
}

// fun hover stuff
.hover-animation .site-header {
	
	.sharp-logo img {
		transition: .2s ease-out;
	}
	
	a.home-link:hover {
		text-decoration: none;
		
		.sharp-logo img {
			transform: scale3d(1.1, 1.1, 1) ; 
		}	
	}
}

.page-nav {
	text-align: center;
	border-top: $horizontal-line;
	border-image: url('images/dotted-line.png') 1 0 0 0 repeat;
	margin-top: $spacing-unit;
	padding-top: $spacing-unit /2;
	font-size: $smaller-font-size;
}

.site-footer {
	border-top: none;
	padding-top: 20px;
	padding-bottom: 50px;

	.footer-content {
		text-align: center;
		padding-top: 10px;
		border-top: $horizontal-line;
		border-image: url('images/dotted-line.png') 1 0 0 0 repeat;
		font-size: $smallest-font-size;
	}
	
	a {
		font-weight: 500;
	}
}

.page-content {
	padding: 0;
  display: block; // for some reason need this for IE9
}

.subpage .page-content {
	a {
		text-decoration: underline;
	}
}


// HIDDEN SECTIONS

.hidden-section-toggle {
	display: block;
	margin-bottom: $spacing-unit;
	font-size: $small-font-size;
	
	&::before {
		display: inline-block;
		vertical-align: middle;
		font-size: 20px;
		content: "+";
		color: white;
		font-weight: 500;
		text-align: center;
		line-height: 20px; // to center the + sign
		width: 20px;
		height: 20px;
		background: $brand-color-blue;
		border-radius: 10px;
		margin-right: 10px;
		margin-bottom: 4px;
	}
	
	span::before {
		content: "Show ";
	}
}

.subpage-green .hidden-section-toggle::before {
	background: darken($brand-color-green,10%);
}

// when content shown
.hidden-section.show .hidden-section-toggle {  
	&::before {
		content: "-";
	}
	
	span::before {
		content: "Hide ";
	}
}

.hidden-section-content {
	max-height: 0;
	overflow: hidden;
	transition: 0.5s ease-out;
}


// DIFFERENT STYLES HOME vs SUBPAGE


body.home {
	.site-header {
		height: auto;
		
		h1 {
			margin-bottom: 0;
		}
	}
	.site-footer, .page-nav {
		background-color: $brand-color-green;
	}
}

body.subpage {
	color: $brand-color-blue;
	
	.site-header-title {
		font-size: $base-font-size;
	}

	.site-header {
		background: $brand-color-light-blue url('images/header-triangle.png') center bottom/100% 200px no-repeat;

		@include media-query($on-palm) {
			background-size: 1000px 200px;
		}	
	}
	
	.main.page-content, .site-footer, .page-nav {
		background: $brand-color-light-blue;		
	}
	
	&.subpage-green {
		color: white;
		
		a {
			color: white;
		}
		
		blockquote {
			color: darken($brand-color-green,10%);
		}
		
		.site-header, .main.page-content, .site-footer, .page-nav {
			background-color: $brand-color-green;
		}
		
		.page-nav {
			border-color: white;
			border-image: url('images/dotted-line-white.png') 1 0 0 0 repeat;
		}
		
		.lead-text {
			border-color: white;
			border-image: url('images/dotted-line-white.png') 1 0 1 0 round;
		}
		
		.btn {
			background: darken($brand-color-green,10%);
			
			&.btn-data-toggler {
				border: 1px solid white;
				background: none;
				
				&.selected, &:hover {
					background: white;
					color: darken($brand-color-green,10%);
				}
			}
		}
		
		hr {
			border-color: white;
			border-image: url('images/dotted-line-white.png') 1 0 0 0 repeat;
		}
	}
	
	&.subpage-authors {
		.site-header, .main.page-content, .site-footer, .page-nav {
			background-color: white;
		}
		
		.subpage-main {
			text-align: center;
			padding-top: 0;
			font-size: $small-font-size;
			line-height: $base-line-height;
		}
	}
}


body.home, body.subpage-green {
	.site-footer {
		color: white;
	
		.footer-content {
			border-top-color: white;
			border-image: url('images/dotted-line-white.png') 1 0 0 0 repeat;
			
			a {
				color: white;
			}
		}
	}
}

body.hover-animation {
	&.home .footer-content, &.subpage-green {
		a:hover {
			color: lighten($brand-color-green, 30%);
		}
	}
}

// HOME PAGE stuff

.activities, .outcomes {
	text-align: center;
	font-size: 0;  // to remove gaps between inline-block elements
	
	h2 {
		color: $brand-color;
		margin-top: 10px;
		margin-bottom: $spacing-unit;
		text-align: center;
	}	
}

.outcomes {
	background: $brand-color-green url('images/white-triangle.png') center top/100% 100px no-repeat;
	padding-top: 110px;
	margin-top: -20px;

	@include media-query($on-palm) {
		background-size: 1000px 100px;
	}	

	h2 {
		color: white;
	}
}

.home-item {
	display: inline-block;
	position: relative;
	vertical-align: top;
	width: 180px;
	height: 180px;
	background: #f2f9fe;
	border-radius: 90px;
	margin: 0 10px 15px;
	
	.home-item-icon img {
		margin-top: 0;
		padding-top: 20px;
		width: 70px;
		height: 70px;
	}
	
	.home-item-title {
		padding: 0 20px;
		font-size: $smaller-font-size;
		line-height: $smaller-line-height;
		font-weight: 500;
	}

	&::after {
		content:' ';
		position: absolute;
		bottom: 20px;
		left: 50%;
		margin-left: -10px;
		height: 20px;
		width: 20px;
		background: url('images/more-blue.png') center/20px 20px;
		border-radius: 10px;
	}

	&.outcomes-item {
		background: #85c743;
		color: white;
		width: 200px;
		height: 200px;
		border-radius: 100px;
	}

	&.outcomes-item::after {
		background: url('images/more-green.png') center/20px 20px;
	}


	@include media-query($on-palm) {
		&.activity-item {
			width: 160px;
			height: 160px;
			margin: 0 6px 10px;

			.home-item-title {
				font-size: ceil($smaller-font-size * 0.9);
			}

			.home-item-icon img {
				width: 55px;
				height: 55px;
			}
		}
	}
	
	&.animate-when-visible {
	  transition: 0s !important;		
    transform: scale3d(0.7, 0.7, 1) translate3d(0, 30px, 0);
    opacity: 0;
	}

	&.animating-now {
	  transition: .5s ease-out !important;
		transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
		opacity: 1;
	}
}


// add some fun hover stuff!
.hover-animation .home-item {	
	&, .home-item-icon, &::after {
	  transition: .2s ease-out;
	}

	&:hover {
		text-decoration: none !important;
    transform: scale3d(1.2, 1.2, 1);
		
		.home-item-icon {
			transform: scale3d(0.9, 0.9, 1) translate3d(0, -5px, 0);
		}
		
		&::after {
			transform: translate3d(0, 5px, 0);
		}
	}
}


// hack to break circles into nicer pattern on palm-size screens

.break-2 {
	display: none;
	
	@include media-query($on-laptop) {
		display: block;
	}	
}


// SUBPAGE STUFF 

.page-icon {
	text-align: center;
	height: 80px;
	width: 80px;
	margin: auto;
	padding: 10px;
}


// SVG DIAGRAM ANIMATION


.svg-wrapper  {
	width: 100%;

	g {
	  transform-origin: 50% 0%;
	}
	
	svg.animate-when-visible g {
	  transition: 0s !important;		
	  transform: scale3d(0.9, 0.9, 1) translate3d(0, 20px, 0);
	  opacity: 0;
	}
	
	svg.animating-now g {
	  transition: .6s ease-out !important;
		transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
		opacity: 1;
	}
}





// OTHER 


.stat-circle {
//	background: darken($brand-color-green, 8%);
	background: $brand-color-dark-blue;
	height: 200px;
	width: 200px;
	margin: 8px auto;
	border-radius: 100px;
	text-align: center;
	
	.main-stat {
		padding-top: 60px;
		font-size: 2em;
		font-weight: 500;
	}
	
	.description {
		font-size: $smaller-font-size;
		line-height: $base-line-height * 0.9;
		padding: 10px;
	}
}


// IFRAME tricks

/* video embed */
iframe[data-iframe-type="video"] {
	position: relative;
	width: 100%;
	height: 427px;

	@include media-query($on-palm) {
		height: 315px;
	}	
	@include media-query($on-mobile) {
		height: 21	0px;
	}
}


iframe[data-iframe-type="gmaps"] {
	border: 1px solid white;
	box-sizing: border-box;
	background: white url("images/spinner-blue.gif") center center/80px 80px no-repeat;
}



// CHARTS

.c3 {
	svg {
		font-family: $base-font-family;
		font-weight: 300;
		margin-top: -10px;
	}
	
	.c3-tooltip {
		color: $brand-color-dark-grey;
	}
	.c3-legend-item text {
		fill: $brand-color-dark-grey;
	}
	
	.c3-chart-arcs .c3-shapes path {
		stroke: none;
	}

	.c3-grid line {
		stroke: black;
		opacity: 0.2;
	}
	
	.tick line, .c3-axis path {
		opacity: 0.2;
	}

	.c3-legend-item-event {
		display: none; // this disables the legend mouseover and click events
	}
}

.chart-type-bar {
	.c3-zoom-rect {
		opacity: 0.05 !important;
	}

	.c3-axis-x .tick text {
		font-size: $smaller-font-size;
		font-weight: 500;
		transform: translate3d(0,5px, 0);
		fill: white;

		.tiny-text & {
			font-size: $smallest-font-size;	
		}
	}
	
	.c3-legend-item {
		font-size: $smaller-font-size;
		
		line {
			stroke-width: 12;
		}
	}
	
	.c3-legend-background {
		opacity: 0;
	}
	
	.c3-chart-texts {
		font-size: ceil($smallest-font-size * 0.9);
		transform: translate3d(0, -3px, 0);
	}
}

.subpage-green {
	.c3-legend-item text, .tick text {
		fill: white;
	}
}


.chart-toggle-text:not(.selected) {
	display: none;
}

// TABLES



table {
	border-collapse: separate;
	border-spacing: 0px;
	font-size: $small-font-size;
	line-height: $base-line-height;
		
	td {
		border: 0px;
		border-top: 1px solid white;
		border-image: url('images/dotted-line-white.png') 1 0 0 0 repeat;
		vertical-align: top;
		padding: 8px;		
	}

	tr:first-child td {
		border-top: 0px;
	}
	
	body.subpage-green & {
		background: darken($brand-color-green, 5%);
	}
}

