<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body class="home">

		<header class="site-header" role="banner">
		  <div class="wrapper">
				<a class="home-link" href="/">
					<div class="sharp-logo">
						<img src="assets/images/sharp-logo.gif" width="82" height="82">
					</div>
				  <h1 class="site-header-title">{{ site.title }}</h1>
				</a>
				
				<div class="slam-logo">
					<img src="assets/images/slam-logo.gif" width="60" height="40">
				</div>
		  </div>
		  
		</header>

    <main class="main page-content" aria-label="Content">
	  </main>

    {% include footer.html %}

  </body>

</html>