<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
				<div id="svgholder"></div>
      </div>
    </main>



		<div class="modal-background">
			<div class="modal">
				<div class="close-modal"><a href="#">Close</a></div>
				<div class="modal-content"></div>
			</div>
		</div>

    {% include footer.html %}

  </body>

</html>