<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
			<section class="intro">
	      <div class="wrapper home-wrapper">
        {{ content }}
	      </div>
			</section>
			<section class="activities">
	      <div class="wrapper home-wrapper">
					<h2>{{ page.activities-title }}</h2>
					{% for item in page.activities %}
					<div class="activity-item item">{{ item.title }}</div>
					{% endfor %}
	      </div>
			</section>
			<section class="outcomes">
	      <div class="wrapper home-wrapper">
					<h2>{{ page.outcomes-title }}</h2>
					{% for item in page.outcomes %}
					<div class="activity-item item">{{ item.title }}</div>
					{% endfor %}
	      </div>
			</section>

      </div>
    </main>



		<div class="modal-background">
			<div class="modal">
				<div class="close-modal"><a href="#">Close</a></div>
				<div class="modal-content"></div>
			</div>
		</div>

    {% include footer.html %}

  </body>

</html>