<section class="intro">
  <div class="wrapper">
  {{ content }}
  </div>
</section>
<section class="activities">
  <div class="wrapper">
		<h2>{{ site.activities-title }}</h2>
		{% for item in site.activities %}
		<a class="activity-item home-item" href="{{ item.link }}">
			<div class="home-item-icon"><img src="{{ item.icon }}" /></div>
			<div class="home-item-title">{{ item.title }}</div>
		</a>
		{% if forloop.index == 2 %} <div class="break-2"></div> {% endif %}
		{% endfor %}
  </div>
</section>
<section class="outcomes">
  <div class="wrapper">
		<h2>{{ site.outcomes-title }}</h2>
		{% for item in site.outcomes %}
		<a class="outcomes-item home-item" href="{{ item.link }}">
			<div class="home-item-icon"><img src="{{ item.icon }}" /></div>
			<div class="home-item-title">{{ item.title }}</div>
		</a>
		{% endfor %}
  </div>
</section>